[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = imsso
	email = syl942511@gmail.com
[core]
	longpaths = true
