
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'nanumsquare',sans-serif, 'Black Han Sans', 'Noto Sans KR';
}

html{
  scroll-behavior: smooth;
}

.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar styling */
.navbar{
  background: #3d2846;
  position: fixed;
  padding: 5px 40px;
  z-index: 999;
  transition: all 0.3s ease;
  /* position: fixed; */
}


.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.navbar ul li{
  padding: 15px 0;
  cursor: pointer;
}

.navbar ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
.navbar ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #fa8072;
  opacity: 0;
  transition: all 0.2s linear;
}
.navbar ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
.navbar ul li.logo{
  flex: 1;
  color: white;
  font-size: 28px;
  font-weight: 500;
  cursor: default;
  user-select: none;
  align-items: left;
}

.navbar ul li.logo a{
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: .4s ease;
  font-family: 'Noto Sans KR', sans-serif;
}

.navbar ul li.logo a span{
  color: #fa8072;
  font-size: 24px;
  text-decoration: none;
  transition: .4s ease;
  font-family: 'Noto Sans KR', sans-serif;
}

.navbar ul li a{
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: .4s ease;
}
.navbar ul li:hover a{
  color: #fa8072;
}
.navbar ul li i{
  font-size: 23px;
}
.navbar ul li.btn{
  display: none;
}
.navbar ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  .navbar{
    padding: 5px 30px;
  }
  .navbar ul li.items{
    width: 100%;
    display: none;
  }
  .navbar ul li.items.show{
    display: block;
  }
  .navbar ul li.btn{
    display: block;
  }
  .navbar ul li.items:hover{
    border-radius: 5px;
    /* box-shadow: inset 0 0 5px #ff8260,
                inset 0 0 10px #ff8260; */
  }
  .navbar ul li.items:hover:after{
    opacity: 0;
  }
}

/* home section styling */
.home{
  display: flex;
  background: white;
  height: 120vh;
  color: #3d2846;
  min-height: 500px;
  font-family: 'Noto Sans KR', sans-serif;
}

.home .max-width{
  margin: auto 0 auto 40px;
}

.home .home-content .text1{
  font-size: 32px;
  font-weight: 400;
  line-height: 180%;
}

.home .home-content .text2{
  font-size: 50px;
  font-weight: 600;
  margin-left: -3px;
  line-height: 160%;
}

.home .home-content .text3{
  font-size: 50px;
  font-weight: 600;
  margin: 5px 0;
  line-height: 160%;
}

.home .home-content .text3 span{
  color: #fa8072;
  font-weight: 600;
  line-height: 160%;

}

.sticky{
  position:fixed;
  top: 0;
  width: 100%;
}

.sticky + .home content {
  padding-top: 60px;
}